{% extends "personal_portfolio/base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Contact Us </h1>
    <hr>

    <p><form action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit"/>
  </form></p>
</div>

{% endblock %}
