{% extends "personal_portfolio/base.html" %}
{% block page_content %}

<div class="col-md-8 offset-md-2">
    <h1>{{ category | title }}</h1>
    <hr>

    {% for post in posts %}
        <h2><a href="{% url 'blog:blog_detail' post.pk%}">{{ post.title }}</a></h2>
        <small>
            {{ post.created_on.date }} |&nbsp;Categories:&nbsp;

            {% for category in post.categories.all %}
            <a href="{% url 'blog:blog_category' category.name %}">{{ category.name }}</a>&nbsp;
            {% endfor %}

        </small>
        <p>{{ post.body | slice:":400" }}...</p>

    {% endfor %}

</div>

{% endblock %}
